<rzslider rz-slider-model="value" rz-slider-options="$ctrl.sliderOptions"></rzslider>
<div style="text-align: center;">
    <button class="btn btn-default" style="margin-left: 2px; margin-right: 2px;" 
        ng-repeat="shift in leftShifts" ng-click="$ctrl.changeValue(shift)">{{shift}}</button>

    <input type="number" style="display: inline-block; width: 100px;" ng-min="$ctrl.min" ng-max="$ctrl.max" class="form-control" ng-model="value">

    <button class="btn btn-default" style="margin-left: 2px; margin-right: 2px;" 
        ng-repeat="shift in rightShifts" ng-click="$ctrl.changeValue(shift)">{{shift}}</button>
</div>