<div class="panel panel-primary">
    <div class="panel-heading">{{$ctrl.title}} 
        <span class="label label-default" ng-if="$ctrl.isLoading" translate>loading...</span>
    </div>
    <div class="panel-body">
        <canvas class="chart chart-line" height="75" chart-data="$ctrl.temperatureChartData" 
            chart-options="{animation: { duration: 0 }, legend: {display: true} }" 
            chart-series="$ctrl.temperatureChartSeries" 
            chart-labels="$ctrl.temperatureChartLabels"
            chart-colors="['#803690', '#46BFBD']">
        </canvas>
    </div>
</div>