/uploads
/data.txt
/programs
/data_ready.txt
/ps
/printer
/KeepCalmPrinterEmulator/src/PrintDream.PrinterEmulator/bin
logs/
files/
/printerSettings.cfg
/macrosSettings.json
/websiteSettings.json
/public/javascripts/libs/chart.js/.gitignore
/printerPasswords.json
/debug.log
