/uploads
/data.txt
/programs
/data_ready.txt
/ps
/printer
/KeepCalmPrinterEmulator/src/PrintDream.PrinterEmulator/bin
logs/
files/
/configFiles/printerSettings.cfg
/configFiles/macrosSettings.json
/configFiles/websiteSettings.json
/configFiles/printerPasswords.json
/public/javascripts/libs/chart.js/.gitignore
/debug.log
/build
/node_modules
