<div class="page-header">
    <title-control><translate>Notification bot</translate></title-control>
</div>

<div class="row" style="margin-top: 5px;">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-3" for="token" translate>API token</label>
            <div class="input-group col-xs-9">
                <input id="token" class="form-control" type="password" placeholder="{{'Enter token to change it' | translate}}" ng-model="$ctrl.botSettings.token" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="token" translate>Users</label>
            <div class="input-group col-xs-9">
                <div class="row" ng-repeat="user in $ctrl.botSettings.users" style="margin-top: 5px; margin-bottom: 5px;">
                    <div class="col-xs-3"><span class="fa fa-user"></span> {{user.name}}</div>
                    <div class="col-xs-9">
                        <input bs-switch type="checkbox" ng-model="user.isEnabled" />

                        <input bs-switch type="checkbox" ng-model="user.isAdmin" 
                            switch-on-text="{{ 'Admin' | translate }}"
                            switch-off-text="{{ 'User' | translate }}" />

                        <action-button type="danger" icon="trash" action="$ctrl.removeUser(user)" />
                    </div>
                </div>
                
                <div class="row">
                    <input class="form-control" type="text" max="100" placeholder="{{'User name' | translate}}" ng-model="userName" />
                    <action-button type="success" icon="plus" button-name="{{'Add' | translate}}" action="$ctrl.addUser(userName)" />
                </div>                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="token" translate>Notifications</label>
            <div class="input-group col-xs-9">
                <div class="row" ng-repeat="notification in $ctrl.botSettings.notifications" style="margin-top: 5px; margin-bottom: 5px;">
                    <div class="col-xs-3"><span class="fa fa-user"></span> {{notification.title}}</div>
                    <div class="col-xs-9">
                        <input bs-switch type="checkbox" ng-model="notification.isEnabled" />

                        <input bs-switch type="checkbox" ng-model="notification.isForAdminsOnly" 
                            switch-on-text="{{ 'Admin' | translate }}"
                            switch-off-text="{{ 'All' | translate }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <action-button type="success" button-name="{{'Apply' | translate}}" action="$ctrl.apply()" />
        </div>
    </form>
</div>