<div class="page-header">
    <title-control>Theme & Keyboard settings</title-control>
</div>

<div class="alert alert-success">
    <strong class="fa fa-info-circle"></strong> These settings are saved for each browser independently.
</div>

<div class="row" style="margin-top: 5px;">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-4" for="showVirtualKeyboard">Show virtual keyboard</label>
            <div class="input-group col-xs-8">
                <input type="checkbox" id="showVirtualKeyboard" style="margin-top:10px;" ng-model="$ctrl.showVirtualKeyboard" />
            </div>
        </div>
    </form>
</div>

<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-4" for="isDarkTheme">Show dark theme</label>
            <div class="input-group col-xs-8">
                <input type="checkbox" id="isDarkTheme" ng-model="$ctrl.isDarkTheme" />
            </div>
        </div>
    </form>
</div>