<div class="page-header">
    <title-control><translate>Change password</translate></title-control>
</div>

<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-3" for="oldPassword" translate>Old password</label>
                <div class="input-group col-xs-9">
                    <input type="password" id="oldPassword" ng-model="$ctrl.oldPassword" />
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-3" for="newPassword" translate>New password</label>
                <div class="input-group col-xs-9">
                    <input type="password" id="newPassword" ng-model="$ctrl.newPassword" />
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12" style="margin-top: 5px;">
            <action-button action="$ctrl.changePassword();" button-name="{{'Change' | translate}}" type="success" />
        </div>
    </div>
</div>