<div class="page-header">
    <title-control>Printer settings</title-control>
</div>

<div class="row metro">
    <div class="tile-container">
        <div class="tile bg-orange fg-white" data-role="tile" ng-click="go('/settings/printer/extruder')">
            <div class="tile-content iconic">
                <span class="icon fa fa-shower"></span>
                <span class="tile-label">Extruder calibration</span>
            </div>
        </div>    
        <div class="tile bg-cobalt fg-white" data-role="tile" ng-click="go('/settings/printer/z-index')">
            <div class="tile-content iconic">
                <span class="icon fa fa-text-height"></span>
                <span class="tile-label">Z-Index calibration</span>
            </div>
        </div>
        <div class="tile bg-red fg-white" data-role="tile" ng-click="go('/settings/printer/advanced')">
            <div class="tile-content iconic">
                <span class="icon fa fa-sliders"></span>
                <span class="tile-label">Advanced</span>
            </div>
        </div>
    </div>
</div>