<div class="page-header">
    <title-control><translate>Advanced printer settings</translate></title-control>
</div>

<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal">
            <div class="form-group" ng-repeat="displayItem in $ctrl.displaySettings">
                <label class="control-label col-sm-4" for="{{displayItem.tag}}">{{displayItem.title}}</label>
                <div class="input-group col-sm-8">
                    <input class="form-control" name="{{displayItem.tag}}" type="number"
                        placeholder="{{displayItem.title}}" ng-model="$ctrl.settings[displayItem.tag]" ng-keyboard>
                    <span class="input-group-addon" id="{{displayItem.tag}}">{{displayItem.comment}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <action-button action="$ctrl.save();" button-name="{{'Apply' | translate}}" type="success" allow-when-printer-is-in-state="Idle" />
                    <action-button action="$ctrl.reset();" button-name="{{'Set to defaults' | translate}}" type="warning" allow-when-printer-is-in-state="Idle" />
                </div>
            </div>

            <temperature-chart series="['Temperature', 'Base temperature']" 
                get-start-data="$ctrl.getStartChartData"
                get-data-from-status="$ctrl.getChartDataFromStatus"
                title="{{'Hotend temperature' | translate}}" />
        </form>
    </div>
</div>