<div class="modal-header">
    <h3 class="modal-title" id="modal-title">G-code analyser</h3>
</div>
<div class="modal-body" id="modal-body">
    <span class="label label-warning" ng-show="$ctrl.error">Error: {{$ctrl.error}}</span>
    <uib-progressbar class="progress-striped active" ng-show="$ctrl.isLoading">
        Analysing...
    </uib-progressbar>
    <div class="panel panel-default" ng-show="!$ctrl.isLoading && !$ctrl.error">
        <div class="panel-heading">Results</div>
        <div class="panel-body">
            <table class="table tabel-condensed">
                <thead>
                    <th>Parameter</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Model size</td>
                        <td>{{$ctrl.result.modelSize.x | toFixed: 2}}x{{$ctrl.result.modelSize.y | toFixed: 2}}x{{$ctrl.result.modelSize.z | toFixed: 2}} mm</td>
                    </tr>
                    <tr>
                        <td>Total filament used</td>
                        <td>{{$ctrl.result.totalFilament | toFixed: 2}} mm</td>
                    </tr>
                    <tr>
                        <td>Total filament weight used</td>
                        <td>{{$ctrl.result.totalWeight | toFixed: 2}} grams</td>
                    </tr>
                    <tr>
                        <td>Estimated print time</td>
                        <td>{{$ctrl.result.printTime * 1000 | millisecondsToTime}}</td>
                    </tr>
                    <tr>
                        <td>Estimated layer height</td>
                        <td>{{$ctrl.result.layerHeight | toFixed: 2}} mm</td>
                    </tr>
                    <tr>
                        <td>Layer count</td>
                        <td>{{$ctrl.result.layerCnt}} printed, {{$ctrl.result.layerTotal}} visited</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
</div>