<button 
    class="btn" 
    ng-class="'btn-' + type"
    ng-disabled="disabled || (forbiddenPrinterState && disableWhenPrinterIsBusy)" 
    ng-click="runAction();">
    <span class="glyphicon" ng-show='icon' ng-class="icon ? ('glyphicon-' + icon) : ''"></span> 
    {{buttonName}} {{isDisabled.x}}
</button>
<span class="label label-default" ng-show="isActionRunning">Running...</span>
<span class="label label-success" ng-show="!isActionRunning && actionSucceded">Ok</span>
<span class="label label-warning" ng-show="!isActionRunning && !actionSucceded && actionError">Error: {{actionError}}</span>