<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>

<div class="row metro">
    <div class="tile-container">
        <div class="tile bg-cobalt fg-white" data-role="tile" ng-click="go('/fileManager')">
            <div class="tile-content iconic">
                <span class="icon fa fa-print"></span>
                <span class="tile-label">Print</span>
                <span class="tile-badge bg-darkRed" ng-show="(diskspace.free / diskspace.total) <= 0.2" uib-tooltip="Less than 20% of disk space remained">Low space</span>
            </div>
        </div>      
        <div class="tile bg-darkBlue fg-white" data-role="tile" ng-click="go('/movements')">
            <div class="tile-content iconic">
                <span class="icon fa fa-arrows-alt"></span>
                <span class="tile-label">Move</span>
            </div>
        </div>
        <div class="tile bg-red fg-white" data-role="tile" ng-click="go('/temperature')">
            <div class="tile-content iconic">
                <span class="icon fa fa-thermometer-full"></span>
                <span class="tile-badge bg-darkRed">{{status.temp / 10 | replaceIfUndefined}} °C</span>
                <span class="tile-label">Temp</span>
            </div>
        </div>
        <div class="tile bg-darkCyan fg-white" data-role="tile" ng-click="go('/speed')">
            <div class="tile-content iconic">
                <span class="icon fa fa-dashboard"></span>
                <span class="tile-badge bg-darkRed">{{status.feedRate / 10 | replaceIfUndefined}}%</span>
                <span class="tile-label">Speed</span>
            </div>
        </div>
        <div class="tile bg-orange fg-white" data-role="tile" ng-click="go('/fan')">
            <div class="tile-content iconic">
                <span class="icon icon-fan"></span>
                <span class="tile-badge bg-darkRed">{{status.cullerRate / 2550 * 100 | toFixed : 2 | replaceIfUndefined}}%</span>
                <span class="tile-label">Fan</span>
            </div>
        </div>    
        <div class="tile bg-emerald fg-white" data-role="tile" ng-click="go('/console')">
            <div class="tile-content iconic">
                <span class="icon fa fa-terminal"></span>
                <span class="tile-label">Console</span>
            </div>
        </div>      
        <div class="tile bg-darkOrange fg-white" data-role="tile" ng-click="go('/status')">
            <div class="tile-content iconic">
                <span class="icon fa fa-info-circle"></span>
                <span class="tile-label">Status</span>
            </div>
        </div>      
        <div class="tile bg-green fg-white" data-role="tile" ng-click="go('/macros')">
            <div class="tile-content iconic">
                <span class="icon fa fa-link"></span>
                <span class="tile-label">Macros</span>
            </div>
        </div>
        <div class="tile bg-darkPink fg-white" data-role="tile" ng-click="go('/logs')">
            <div class="tile-content iconic">
                <span class="icon fa fa-exclamation-triangle"></span>
                <span class="tile-label">Logs</span>
            </div>
        </div>
        <div class="tile bg-gray fg-white" data-role="tile" ng-click="go('/settings')">
            <div class="tile-content iconic">
                <span class="icon fa fa-wrench"></span>
                <span class="tile-label">Settings</span>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->