<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" style="margin-bottom:20px;">
    <label>Commands</label>
    <div style="margin-bottom:5px;">
        <action-button button-name="Start" action="sendCommand('Start');" />
    </div>
    <div style="margin-bottom:5px;">
        <action-button button-name="Stop" action="sendCommand('Stop');" />
    </div>
    <form>
        <div class="form-group">
            <label for="commandName">Command name</label>
            <input id="commandName" class="form-control" type="text" placeholder="Command name" ng-model="commandName" />
        </div>
        <action-button button-name="Send command" action="sendCommand(commandName, true);" />
    </form>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <div>Temperature: {{status.temp / 10 | replaceIfUndefined}} °C</div>
                        <div>Base: {{status.baseTemp / 10 | replaceIfUndefined}} °C</div>
                        <div>PWM: {{status.tempPWM / 1024 * 100 | number : 2 | replaceIfUndefined}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <label>Culler rate</label>
                        <div class="huge">{{status.cullerRate / 2550 * 100 | number : 2 | replaceIfUndefined}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <label>Current position</label>
                        <div>X: {{status.currentPos.X / 10000 | number : 2 | replaceIfUndefined}}</div>
                        <div>Y: {{status.currentPos.Y / 10000 | number : 2 | replaceIfUndefined}}</div>
                        <div>Z: {{status.currentPos.Z / 10000 | number : 2 | replaceIfUndefined}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <label>Printing Progress</label>
                        <uib-progressbar value="status.line_index / status.line_count * 100">
                            <span style="color:white; white-space:nowrap;">{{ status.line_index / status.line_count * 100 | number : 2 | replaceIfUndefined}}%</span>
                        </uib-progressbar>
                        <div>Remained: {{status.timeRemained | millisecondsToTime }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->