<script type="text/ng-template" id="analyseModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">G-code analyser</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <uib-progressbar class="progress-striped active">
            Not implemented yet
        </uib-progressbar>
        <div class="panel panel-default">
            <div class="panel-heading">Results</div>
            <div class="panel-body">
                <table class="table tabel-condensed">
                    <thead>
                        <th>Parameter</th>
                        <th>Value</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Model size</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total filament used</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total filament weight used</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Estimated print time</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Estimated layer height</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Layer count</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    </div>
</script>

<div class="page-header">
    <h1>File Manager</h1>
</div>
<div class="row">
    <span class="label label-default" ng-show="isFolderLoading">Folder is loading...</span>
    <span class="label label-warning" ng-show="folderLoadingError != null">Error: {{folderLoadingError}}</span>
    <div ng-show="!isFolderLoading && !folderLoadingError">

        <ol class="breadcrumb">
            Location:
            <li><a href ng-click="goToPathIndex(0)"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li ng-repeat="folderName in currentPath"><a href ng-click="goToPathIndex($index + 1)">{{folderName}}</a></li>
        </ol>

        <form ng-submit="sendFile();" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-3">
                    <input type="file" file-model="file" />
                </div>
                <input class="btn btn-primary btn-xs col-sm-3" type="submit" value="Upload" />
                <span class="label label-default" ng-show="isRunning">Running...</span>
                <span class="label label-success" ng-show="!isRunning && succeded">Ok</span>
                <span class="label label-warning" ng-show="!isRunning && !succeded && error">Error: {{error}}</span>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <th>File name</th>
                <th>Size</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr ng-repeat="file in currentFolderContents">
                    <td ng-show="file.isDirectory">
                        <a href ng-click="goToFolder(file.fileName)" >
                            <span ng-show="file.fileName == '..'" class="glyphicon glyphicon-level-up bigger"></span>
                            <span ng-show="file.fileName != '..'" class="glyphicon glyphicon-folder-open bigger"></span>
                            <span ng-show="file.fileName != '..'" style="margin-left: 5px;">{{file.fileName}}</span>
                        </a>
                    </td>
                    <td ng-show="file.isDirectory">dir</td>
                    <td ng-show="file.isDirectory"></td>

                    <td ng-hide="file.isDirectory">
                        <span class="glyphicon glyphicon-file bigger"></span> {{file.fileName}}
                    </td>
                    <td ng-hide="file.isDirectory">{{file.size | dataSize}}</td>
                    <td ng-hide="file.isDirectory">
                        <action-button action="analyseFile(file.fileName)" button-name="Analyse" />
                        <action-button action="startPrint(file.fileName)" button-name="Print" />
                        <action-button action="removeFile(file.fileName)" button-name="Remove" />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
