<div class="page-header">
    <h1>File Manager</h1>
</div>
<div class="row">
    <span class="label label-default" ng-show="isFolderLoading">Folder is loading...</span>
    <span class="label label-warning" ng-show="folderLoadingError != null">Error: {{folderLoadingError}}</span>
    <div ng-show="!isFolderLoading && !folderLoadingError">

        <ol class="breadcrumb">
            Location:
            <li><a href ng-click="goToPathIndex(0)"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li ng-repeat="folderName in currentPath"><a href ng-click="goToPathIndex($index + 1)">{{folderName}}</a></li>
        </ol>

        <form ng-submit="sendFile();" class="form-horizontal">
            <input type="file" file-model="file" style="float: left; margin-top: 6px;" />
            <action-button action="sendFile()" button-name="Upload" />
            <action-button action="createDirectory()" button-name="Create directory" />
        </form>

        <table class="table table-striped">
            <thead>
                <th>File name</th>
                <th>Size</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr ng-repeat="file in currentFolderContents">
                    <td ng-show="file.isDirectory">
                        <a href ng-click="goToFolder(file.fileName)" >
                            <span ng-show="file.fileName == '..'" class="glyphicon glyphicon-level-up bigger"></span>
                            <span ng-show="file.fileName != '..'" class="glyphicon glyphicon-folder-open bigger"></span>
                            <span ng-show="file.fileName != '..'" style="margin-left: 5px;">{{file.fileName}}</span>
                        </a>
                    </td>
                    <td ng-show="file.isDirectory">dir</td>
                    <td ng-show="file.isDirectory"></td>

                    <td ng-hide="file.isDirectory">
                        <span class="glyphicon glyphicon-file bigger"></span> {{file.fileName}}
                    </td>
                    <td ng-hide="file.isDirectory">{{file.size | dataSize}}</td>
                    <td ng-hide="file.isDirectory">
                        <action-button action="analyseFile(file.fileName)" button-name="Analyse" />
                        <action-button action="startPrint(file.fileName)" button-name="Print" />
                        <action-button action="removeFile(file.fileName)" button-name="Remove" />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
