<div class="row" ng-show="$ctrl.isLoading" translate>
    Loading...
</div>
<div class="row" ng-show="!$ctrl.isLoading && $ctrl.error" translate-params-error="$ctrl.error">
    Error: {{error}}
</div>
<div class="row" ng-show="!$ctrl.isLoading && !$ctrl.error">
     <table class="col-xs-12 table table-condensed">
        <thead>
        <tr>
            <th translate>Date</th>
            <th translate>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="printerError in $ctrl.printerErrors">
            <td>{{printerError.date | date:'short'}}</td>
            <td>{{printerError.message}}</td>
        </tr>
        </tbody>
     </table> 
</div>