<div class="page-header">
    <h1>Settings</h1>
</div>
<ul class="nav nav-tabs">
    <li ng-class="{active: ('settings.general' | routeSegmentStartsWith)}">
        <a href="#/settings/">General</a>
    </li>
    <li ng-class="{active: ('settings.console' | routeSegmentStartsWith)}">
        <a href="#/settings/console">Web console</a>
    </li>
    <li ng-class="{active: ('settings.printer' | routeSegmentStartsWith)}">
        <a href="#/settings/printer">Printer</a>
    </li> 
</ul>
<div app-view-segment="1" class="animate">
</div>